@keyframes fadeOut 
  30% { opacity: 1 }
  100% { opacity: 0 }
.LoadingScreen
  position: relative
  .countdown
    background-color: white
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    opacity: 1
    animation: fadeOut 3s ease-in
    h1
      position: absolute
      top: 50%
      font-size: 96px
      right: 0
      left: 0
      text-align: center
