@import url('https://fonts.googleapis.com/css?family=Lato');
.StartScreen
	position: absolute
	top: 0
	bottom: 0
	width: 100%
	opacity: 1
	.game-description
		position: absolute
		top: 35%
		left: 0
		right: 0
		text-align: center
		h1
			margin-bottom: 40px
		.btn-start
			margin-left: 40px